<a class="uk-button uk-button-primary" href="#modal-sections" uk-toggle>Edit</a>
<div id="modal-sections" class="uk-flex-top" uk-modal>
    <div class="uk-modal-dialog uk-margin-auto-vertical">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Edit User</h2>
        </div>
        <div class="uk-modal-body">
            <form class="uk-form-stacked uk-margin-large"
                action="/users/edit" method="POST">
                <label class="uk-form-label" for="form-stacked-text">Username</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="username"
                        id="username" disabled value="{{user.username}}">
                </div>
                <label class="uk-form-label" for="form-stacked-text">Name</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="name" id="name"
                        placeholder="Full Name" value="{{user.name}}">
                </div>
                <label class="uk-form-label" for="form-stacked-text">Email</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="email" id="email"
                        placeholder="someone@example.com"
                        value="{{user.email}}">
                </div>
                <label class="uk-form-label" for="form-stacked-text">Phone</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="phone" id="phone"
                        placeholder="Input a valid phone number"
                        value="{{user.phone}}">
                </div>
                <label class="uk-form-label" for="form-stacked-text">Age</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="Number" name="age" id="age"
                        placeholder="Age" value="{{user.age}}">
                </div>
                <label class="uk-form-label" for="form-stacked-text">City</label>
                <div class="uk-form-controls">
                    <input class="uk-input" type="text" name="city" id="city"
                        placeholder="City" value="{{user.city}}">
                </div>
                <div class="uk-margin uk-text-center">
                    <button class="uk-button uk-button-primary"
                        type="submit">Save</button>
                </div>
            </form>
            <button class="uk-modal-close-default" type="button" uk-close></button>
        </div>

    </div>
</div>