{{> userNavbar}}
<section class="uk-container uk-text-center">
    <form class="uk-form-stacked" action="/app/changePhoto"
        method="POST" enctype="multipart/form-data">
        <label for="image">
            <img class="profile-img" src="{{image}}">
            <input style="display:none;" class="uk-input"
                onchange="this.form.submit()" type="file" name="image"
                id="image">
        </label>
    </form>
    <h2 class="uk-heading">{{username}}'s' profile</h2>
    <div class="profile-info">
        <h3>Name:{{name}}</h3>
        <p>Email: {{email}}</p>
        <p>Age: {{age}}</p>
        <p>City: {{city}}</p>
        <p>Phone: {{phone}}</p>
    </div>
    {{>userUpdate}}
</section>