{{> userNavbar}}
<div class="uk-section uk-text-center">
    {{!-- <form class="uk-form-stacked" action="/app/changePhoto"
        method="POST" enctype="multipart/form-data">
        <label for="image">
            <img class="profile-img" src="{{image}}">
            <input style="display:none;" class="uk-input"
                onchange="this.form.submit()" type="file" name="image"
                id="image">
        </label>
    </form> --}}
    <div class="profile-info">
        <div class="uk-width-auto">
            <img class="uk-comment-avatar" src="{{oneUser.image}}"
                width="60"
                height="60" alt="{{oneUser.name}}">
        </div>
        <h3 class="uk-heading-small uk-margin">{{oneUser.username}}</h3>
        <h4>{{oneUser.name}}</h4>
        <p>Email:{{oneUser.email}}</p>
        <p>Age:{{oneUser.age}}</p>
        <p>City:{{oneUser.city}}</p>
        <p>Phone:{{oneUser.phone}}</p>

    </div>
</div>


<div class="uk-section uk-section-secondary uk-preserve-color">
    <div class="uk-container">

        <div class="uk-panel uk-light uk-margin-medium">
            <h3>Posts by {{oneUser.username}}</h3>
        </div>

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
            {{#each userPosts }}
            <div>
                <div class="uk-card uk-card-hover uk-card-default
                    uk-card-body">
                    <div class="uk-card-header">
                        <div class="uk-card-title">
                            <a class="uk-button uk-button-text"
                                href="/posts/{{_id}}"><h1>
                                    {{this.title}}
                                </h1>

                            </a>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card-body">
                            {{this.content}}
                        </div>
                    </div>
                </div>
            </div>
            {{/each }}

        </div>
