{{> userNavbar}}
<div class="uk-section uk-section-overlap uk-section-primary uk-preserve-color">
    {{#if posts}}
    <div class="uk-container">
        <div class="uk-panel uk-light uk-margin-medium">
            <h1 class="uk-heading-small">Posts <span class="uk-text-meta">
                    ({{posts.length}})
                </span></h3>
            {{>postsAdd}}
        </div>
        <div class=".uk-child-width-expand k-grid-match uk-grid-medium
            uk-width-expandd@m" uk-grid>
            {{#each posts}}
            <a class="uk-display-block uk-link-toggle" href="posts/{{_id}}">
                <div class="uk-card uk-card-hover uk-card-default
                    uk-card-body">
                    <div class="uk-link-heading">

                        <h2>{{title}}</h2>
                    </div>
                    <div class="uk-margin">
                        {{content}}
                    </div>

                    <div>
                        <img style="border-radius: 50%;"
                            width="32"
                            heigth="32" src="{{author.image}}"
                            alt="{{author.name}}">
                        <a href="/users/{{author._id}}">@{{author.username}}</a>
                        <span uk-icon="comment"></span>{{comments.length}}
                    </div>
                    {{relativeDate}}
                    <div>

                    </div>
                </div>
            </a>
            {{/each}}
            {{else}}
            <h3 class="uk-light">No posts yet</h3>
            {{/if}}
        </div>
    </div>
</div>
